<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>escape</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/jquery.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<style>
		.datepicker{margin:0px;}
		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Escape</a>
					<nav id="nav">
						<a onclick="his_('<%= id %>')">Generic</a>
						<a href="/generic/logout">logout</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
					</header>
					<h1>조회하기</h1>
    					<div> 
						<input type="date_" id="Datepicker" name="date_" value="<%= day %>"/>
						<input type="button" onclick = "click_search('<%= id %>')" value="조회"/>
						</div>
					<section>
						<h3>날짜별 조회</h3>
						<div class="table-wrapper">
							<table class="alt">
								<thead>
									<tr>
										<th>신청자</th>
										<th>장소</th>
										<th>외출 시간</th>
										<th>외출/조퇴</th>
										<th>상태</th>
									</tr>
								</thead>
								<tbody>
								<% for(var i = 0;i < lists_.length;i++) { %>
									<tr>	
										<td><%= lists_[i].stu_name_ %></td>
										<td><a onclick="arts('<%= lists_[i].Content %>')"><%= lists_[i].Reason %></a></td>
										<td><%= lists_[i].Arv_time %></td>
										<td><%= lists_[i].g_l %></td>
										<td><%= lists_[i].std_by %></td>
									</tr>
								<% } %>
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</section>

		<!-- Scripts -->
		
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/search.js"></script>
		</section>
	</body>
</html>